@import "../mixins//mixins";

.footer {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  &__row {
    opacity: 0.2;
  }
  &__list {
    padding-top: 50px;
    border-top: 0.1px solid rgb(238, 235, 235);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    width: 270px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: rgba(7, 19, 48, 0.5);
  }

  &__links {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: rgba(7, 19, 48, 0.5);
    text-decoration: none;
  }
}
